.connect__wrapper {
    border-style: solid;
    background-color: burlywood;
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;
    
    padding-top: 200px;
    padding-bottom: 200px;

    .connect__icon__holder {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .connect__icon {
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 200px;
        transition: 500ms;

        &:hover {
            transform: scale(1.02);
            transition: 500ms;
        }
    }
}

@media screen and (max-width: 700px) {
    .connect__wrapper{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .connect__icon__holder {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .connect__icon {
        font-size: 125px !important;
    }

    
}