.recent__projects__wrapper {
    border-style: solid;
    border-color: black;
    margin: 5px;

    padding-bottom: 5px;

    background-color: burlywood;

    max-width: 1500px;
    
    width: 100%;
    text-align: center;
    font-family: 'Courier',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    .recent__projects__title {
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
    }

    .recent__projects__holder {
        width: 100%;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        background-color: burlywood;
    
        color: black;
    
        height: auto;
        display: flex;
        justify-content: center;
        font-size: 20px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    } 
}




