.skills__wrapper {
    border-style: solid;
    border-color: black;
    margin: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    background-color: burlywood;

    max-width: 1500px;
    width: 100%;

    
    display: flex;
    flex-direction: column;
    
    text-align: center;

    font-size: 24px;
    font-weight: bold;

    .skills__title {
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
    }

    .skills__type__wrapper {
        width: fit-content; 
        margin: 10px;
        
        
        
        
    }

    .skills__tag__wrapper {
        display: flex;
        align-items: center;
        // justify-content: center;
        
        flex-wrap: wrap;
        
    }
}


@media screen and (max-width: 750px) {

    .skills__wrapper {
        align-items: center;
    }

    .skills__type__wrapper {
        justify-content: center !important;
    }

    .skills__tag__wrapper {
        justify-content: center !important;
    }
}



@media screen and (min-width: 750px) {
    .skills__type__wrapper {
        
        display: flex !important;
        align-items: center;
    
    }
    
}